/*= VARIABLES
----------------------*/
$green: #39b54a;
$blue: #00aeef;
$pink: #ec008c;
$orange: #fcb040;
$lt-green: #8cc63e;

/*=MIXINs
--------------------------*/
@mixin transition($property, $time) {
	-webkit-transition: #{$property} #{$time};
	-moz-transition: #{$property} #{$time};
	transition: #{$property} #{$time};
}

@mixin cover {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  }

/*=TYPOGRAPHY
----------------------*/

h1 {
	text-transform: uppercase;
}
p {
	font-size: 1em;
}

.green-text {
	color: $green;
}
.blue-text {
	color: $blue;
}
.orange-text {
	color: $orange;
}

.pink-text {
	color: $pink;
}

strong {
	font-family: 'trade_gothic_lt_stdbold';
	}


/*=FUOC
----------------------*/

.site-wrap {
	visibility: hidden;
}

.site-wrap.show-wrap {
	visibility: visible;
}



/*= UTILITIES
----------------------*/


.group:after {
  content: "";
  display: table;
  clear: both;
}

.entry-title {
	text-align: center;
}

#primary {
	padding-top: 65px;
}

.full-width {
	width: 100%;
}
.row.full-row {
	max-width: 100%;
	width: 100%;
}

.orange-overlay {
	background: $orange;
}

.blue-overlay {
	background: $blue;
}

a.orange-cta {
	color: $orange;
}
.sm-gray-title {
	display: block;
	font-size: .8em;
	text-transform: uppercase;
	margin-bottom: .25em;
}

.smaller {
		font-size: .7em;
}


/*= TOP NAV 
----------------------*/

/*front page only*/
.home .top-nav-contain {
	position: relative;
}

.burger {
	display: none;
}

.home .top-nav-contain.fix-me {
	position: fixed;
	width: 100%;
	z-index: 99999;
}

img.site-logo {
	opacity: 1;
	@include transition('opacity', '0.3s');
}
.slide-up img.site-logo {
	opacity: 0;
}

.top-nav-contain:hover img.site-logo {
	opacity: 1;
}
.top-nav-contain {
	background: #000;
	border-bottom: 1px solid #242424;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 99999999;
	@include transition('top', '0.3s');
	&.slide-up {
			top: -50px;
		&:hover {
			top: 0;
		}
	}

	ul {
		padding-top: 1.333em;
	 	li{
	 		float: right;
	 		list-style: none;
	 		margin-right: 1em;
	 		a {
	 			color: #fff;
	 			font-family: 'core_circusregular', sans-serif;
	 			font-size: .8em;
	 			opacity: 1;
	 			text-decoration: none;
	 			text-transform: uppercase;
	 			@include transition('opacity', '0.7s');
	 			&:hover {
	 				opacity: .5;
	 			}
	 		}
	 	}
	}

	img {
		padding: .5em 0;
		max-width: 90px;
	}
}

/*sub nav top
-----------------------*/
.sub-nav-contain.top-sub {
	background: $orange;
	/*height: 1.5em;*/
	position: fixed;
	top: 98px;
	width: 100%;
	z-index: 99999999;
	ul{
		padding: 0;
		li{
			list-style: none;
			float: left;
			a{
				color: #000;
				display: block;
				font-family: 'TradeGothicLTStdRegular';
				font-size: .8em;
				padding: .2em .85em;
				text-transform: uppercase;
				&:hover{
					background: lighten($orange, 10%);
				}
			}
		}
	}
}

/*sub nav side
-----------------------*/
#ham-holder {
	position: fixed;
	top: 98px;
	z-index: 99999;
	a {
		background: black;
		color: #fff;
		display: block;
		padding: 1em;
	}
}

/*= HOME INTRO
-----------------------*/

.home-intro {
	background: #171717;
	padding: 6em 0;
	text-align: center;
	p {
		/*font-size: 1.2em;*/
	}
}


/*=HOME EVENTS
-----------------------*/
.home-events {
	.columns {
		padding: 0;
	}
	img {
		width: 100%;
	}
}

.home-event {
	position: relative;
	display: block;
	
	.cta {
		font-family: 'core_circusregular', sans-serif;
		font-size: 1.3em;
		position: absolute;
		top: 45%;
		background: #fff;
		display: inline-block;
		left: 10%;
		text-align: center;
		text-transform: uppercase;
		width: 80%;
		opacity: 1;
		padding: .75em 0;
		z-index: 10;
	}
		
}



.bucket-caption {
	position: absolute;
	width: 100%;
	height: 100%;
	opacity: .8;
	text-align: center;
	top: 0;
	z-index: 9;
	opacity: .75;
	@include transition('opacity', '0.3s');
}

.home-event:hover .bucket-caption {
	opacity: 0;
}

.home-event.home-upcoming .orange-cta{
	background: #fff;
	color: $orange;
	@include transition('all', '0.3s');
}

.home-upcoming:hover .orange-cta {
	background: $orange;
	color: #fff;
}

.home-event.home-recent .blue-cta{
	background: #fff;
	color: $blue;
	@include transition('all', '0.3s');
}

.home-recent:hover .blue-cta {
	background: $blue;
	color: #fff;
}





/*= SLIDESHOW
---------------------*/
.home-slideshow {
	position: relative;
	img.home-logo {
		position: absolute;
		top: 40px;
		left: 50%;
		margin-left: -47px;
		z-index: 9999;
	}
}



/*= INSIDE PAGE SHARED
----------------------*/
.col-container {
	margin-top: 4em;
}

.about-wrap {
	/*background: url('/wp-content/themes/oz/library/images/grandsalon_full.jpg') no-repeat center center fixed; */
	padding-top: 90px;
}
.contact-wrap {
	background: url('/wp-content/themes/oz/library/images/escaparate_full.jpg') no-repeat center center fixed;
	@include cover;
}




/*= VENUE 
----------------------*/
.view-select {
	background: #a7a9ac;
	a {
		background: #a7a9ac;
		color: #ffffff;
		display: inline-block;
		float: left;
		text-align: center;
		width: 50%;
		padding: .5em 0;
		text-decoration: none;
		&.active, &:hover {
			background: #00aeef;
		}
	}
}


/*=CONTACT
----------------------*/

/*=CONTACT
----------------------*/
.page-template-page-contact-tpl-php {
  color: #fff; }
  .page-template-page-contact-tpl-php a {
    color: #fff; }
    .page-template-page-contact-tpl-php a:hover {
      text-decoration: underline; }

.contact-contain {
  background: #fcb040;
  width: 100%; }


.wpcf7 {
	p {
		color: #fff;
	}

	input[type="text"], input[type="email"], textarea {
		background: #fcb040;
		border: 5px solid #fff;
		font-size: 1.4em;
		padding: .4em;
	}
	textarea {
		height: 3.2em;
	}
	input[type="submit"] {
		background: #fff;
		border: none;
		color: $orange;
		font-family: $header-font-family;
		font-size: 1.7em;
		text-align: center;
		text-transform: uppercase;
		width: 100%;
	}
}




/*= SUPPORT PAGE
-----------------------*/
.support-section {
border-top: 1px solid #242424;
padding: 20px 0;
width: 100%;
	li {
		margin-left: 4em;
	}
}




/*= SIDEBARS
----------------------*/
.sidebar{
	img {
		margin-bottom: 1.5em;
	}
}
#sidr {
display: none;
}


/*= FULL BOTTOM NAV BARs
----------------------*/

.full-nav {
	clear: both;
	a {
		background: #6d6e71; /*fallback if no class*/
		color: #939598;
		display: block;
		font-size: 2em;
		font-weight: bold;
		padding: .5em 0;
		text-align: center;
		width: 100%;
		&.full-var-0 {
			background: #818285;
			color: #000000;
		}
		&.full-var-1 {
			background: #6d6e71;
			color: #939598;
			&.dark-text {
				color: #3a3a3c;
			}
		}
		&.full-var-2{
			background: #58585a;
			color: #939598;
		}
		&.full-var-3 {
			background: #3a3a3c;
			color: #a7a9ac;

		}
		&.full-var-4 {
			background: #000000;
			color: #d1d2d4;
		}
		&:hover {
			background: #fcb040;
			color: #ffffff;
		}
		&.full-var-action {
			background: #fcb040;
			color: #ffffff;
		}
	}
}


/*= FOOTER
----------------------*/
.colophon {	
	background: #000;
	border-top: 1px solid #242424;
	clear: both;
	line-height: 1.2;
	padding: 4em 0;
	text-align: center;
	h3{		
		color: #39b54a;
		font-family: 'TradeGothicLTStdBoldCondensedNo.20';
		text-transform: uppercase;		
	}
	a {
		color: #ffffff;
	}
	.address {
		color: #b2b2b2;
		font-size: 1.3em;
		margin: .5em 0;
		line-height: 1.1;
		display: block;
	}


	.foot-social {
		a {
			background-position: 0 0;
			display: inline-block;
			height: 64px;
			width: 64px;
			@include transition('background-position', '0.3s');
			
			&:hover {
				background-position: 0 64px;
			}
			&.foot-fb1 {
				background-image: url(/wp-content/themes/oz/library/images/social/ozevents_fb.png);
			}
			&.foot-fb2 {
				background-image: url(/wp-content/themes/oz/library/images/social/ozarts_fb.png);
			}
			&.foot-twitter {
				background-image: url(/wp-content/themes/oz/library/images/social/twitter.png);
			}
			&.foot-instagram {
				background-image: url(/wp-content/themes/oz/library/images/social/instagram.png);
			}
			&.foot-youtube {
				background-image: url(/wp-content/themes/oz/library/images/social/youtube.png);
			}
			
		}
	}
}




/*Venue testing
------------------------*/

.scroll-guy {
	background: transparent;
	position: relative;
	display: block;
	margin: 0 auto -40px;
}

.venue-sub {
		margin-bottom: 1em;
		font-size: 1.2em;
	}




.venue-wrapper {
	position:relative;
}
.skewed {
	background: $green;
	width: 100%;
	min-height: 500px;
	 -webkit-transform: skewY(45deg);
	  -moz-transform:    skewY(45deg);
	  -ms-transform:     skewY(45deg);
	  -o-transform:      skewY(45deg);
	  transform:         skewY(45deg);
	position: relative;
}
.unskewed {
	position: relative;
	  -webkit-transform: skewY(-10deg);
	  -moz-transform:    skewY(-10deg);
	  -ms-transform:     skewY(-10deg);
	  -o-transform:      skewY(-10deg);
	  transform:         skewY(-10deg);
}
.venue-hero {
	position: relative;
}
img.venue-hero {
	width: 100%;
}
.venue-info-contain {
	position: relative;
	/*top: 1000px;
	z-index: 99;
	min-height: 2000px;*/
	.slide-contain {
		padding-right: 0;
	}
}

.venue-title {
	
	position: absolute;
	z-index: 99;
	width: 100%;
	top: 43%;
	letter-spacing: -.1em;
}

.venue {
/*@include cover;*/
.v-title {
	margin-top: 2em;
}
&.overview {
	.venue-scroll-instr {
		font-family: $header-font-family;
		font-size: 1.3em;
		font-style: normal;
	}
	
	p {
		font-size: 1em;
	}
}	
/* &#venue-0 {
  	background: url('/wp-content/themes/oz/library/images/slide_placeholder4.jpg') no-repeat center center fixed;
  	@include cover;
  }
  &#venue-1 {
  	background: url('/wp-content/themes/oz/library/images/slide_placeholder4.jpg') no-repeat center center fixed;
  	@include cover;
  }
   &#venue-2 {
  	background: url('/wp-content/themes/oz/library/images/grandsalon_full.jpg') no-repeat center center fixed;
  	@include cover;
  }
  &#venue-3 {
  	background: url('/wp-content/themes/oz/library/images/ultralounge_full.jpg') no-repeat center center fixed;
  	@include cover;
  }
  &#venue-4 {
  	background: url('/wp-content/themes/oz/library/images/patiocontempo_full.jpg') no-repeat center center fixed;
  	@include cover;
  }
  &#venue-5 {
  	background: url('/wp-content/themes/oz/library/images/escaparate_full.jpg') no-repeat center center fixed;
  	@include cover;
  }
  &#venue-6 {
  	background: url('/wp-content/themes/oz/library/images/grandsalon_full.jpg') no-repeat center center fixed;
  	@include cover;
  }
  &#venue-7 {
  	background: url('/wp-content/themes/oz/library/images/zengarden_full.jpg') no-repeat center center fixed;
  	@include cover;
  }
  &#venue-8 {
  	background: url('/wp-content/themes/oz/library/images/boardroom_full.jpg') no-repeat center center fixed;
  	@include cover;
  } */
}

.venue-title-contain {
	/*display: none;*/
	/*position: fixed;
	top: 40%;
	width:60%;
    margin: 0 0 0 -30%;
    padding: 20% 0;
    left:50%; 
    padding: 16.6667% 0 3em 0;*/
    padding-top: 10%;
    text-align: center;
	z-index: 999;
	position: relative;
	width: 100%;
	
}
.venue-title {
	font-size: 1.8em;
}

.venue-text {
	/*background: $green;*/
	text-align: left;
}

.d-bkg {
	height: 17em;
	position: absolute;
	width: 17em;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	transform: rotate(45deg);
	margin-left: 3.5em;

}

.venue-info-contain {
	background: #ffffff;
	position: background;
	z-index: 999;
	.venue-text {
		padding: 4em 0;
	}
	p {
		line-height: 1.3;
	}
}

.v-title {
	font-family: 'TradeGothicLTStdRegular';
	line-height: 1;
	text-transform: uppercase;
	font-size: 1.85em;
}
a.floor-plan {
	display: block;
	font-size: 1.1em;
	margin-bottom: 1em;
}

.green {
	.d-bkg {
		background: $green;
	}
	h2.v-title {
		color: $green;
	}
	a.floor-plan {
		color: $green;
	}
}

.blue {
	.d-bkg {
		background: $blue;
	}
	h2.v-title {
		color: $blue;
	}

	a.floor-plan {
		color: $blue;
	}
	
}

.orange {
	.d-bkg {
		background: $orange;
	}
	h2.v-title {
		color: $orange;
	}

	a.floor-plan {
		color: $orange;
	}
}

.pink {
	.d-bkg {
		background: $pink;
	}
	h2.v-title {
		color: $pink;
	}
	a.floor-plan {
		color: $pink;
	}
}


.ven-path {
	text-align: right;
	position: fixed;
	z-index: 99999999;
	left: auto !important;
	right: 50px !important;
	top: 33%;

	li {
		float: right;
		clear: right;
		list-style: none;
		background: url(/wp-content/themes/oz/library/images/unselected.png) no-repeat top right;
		margin-bottom: .7em;
		padding-right: 20px;
		&.active {
			background: url(/wp-content/themes/oz/library/images/selected.png) no-repeat top right;
		}
		&:hover {
			background: url(/wp-content/themes/oz/library/images/selected.png) no-repeat top right;
			a{
				opacity: 1;
			}
		}
	}
	a {
		color: #fff;
		display: inline-block;
		font-family: 'Raleway', sans-serif;
		padding-right: 20px;
		opacity: 0;
		margin-right: -20px;
		text-transform: uppercase;
		/*@include transition('opacity', '0.3s');*/
	}
}

.venue-info-box {
	padding: 0 12%;
}


.dmd-bkg {
	position: relative;
}

.row .scroll-control {
	position: absolute;
	top:0;
	left: 0;
	padding-bottom: 3em;
	padding-right: 15px;
	height: 100%;
	overflow:hidden;
	
}

.row .scroll-control:hover {
	overflow: auto;
}

.fader {
position: absolute;
bottom: 0;
width: 100%;
padding: 3em;
	background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, transparent),color-stop(1, white));
        background-image: -webkit-linear-gradient(top, transparent, white);
        background-image: -moz-linear-gradient(top, transparent, white);
        background-image: -ms-linear-gradient(top, transparent, white);
        background-image: -o-linear-gradient(top, transparent, white);
}


.page-template-page-program-list-tpl-php .accordion dt {
	text-align:left;
}



/*=CYCLE 
--------------------------------------*/
/* set border-box so that percents can be used for width, padding, etc (personal preference) */
.cycle-slideshow, .cycle-slideshow * { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }


.cycle-slideshow { width: 100%; min-width: 200px; margin: 0 auto; padding: 0; position: relative;
    background: url(http://malsup.github.com/images/spinner.gif) 50% 50% no-repeat;

 }

 .front-page .cycle-slideshow {
 		margin: 0;
 }

/* slideshow images (for most of the demos, these are the actual "slides") */
.cycle-slideshow img { 
    /* 
    some of these styles will be set by the plugin (by default) but setting them here
    helps avoid flash-of-unstyled-content
    */
    position: absolute; top: 0; left: 0;
    width: 100%; padding: 0; display: block;
}

/* in case script does not load */
.cycle-slideshow img:first-child {
    position: static; z-index: 100;
}

/* pager */
.cycle-pager, .example-pager { 
    text-align: center; width: 97%; z-index: 500; position: absolute; bottom: 10px; overflow: hidden;
}
.cycle-pager span,  .example-pager span { 
    font-family: arial; font-size: 50px; width: 16px; height: 16px; 
    /*display: inline-block;*/ color: #fff; cursor: pointer; 
}
.cycle-pager span.cycle-pager-active,  .example-pager span.cycle-pager-active { color: #000;}
.cycle-pager,  .examle-pager > * { cursor: pointer;}


/* caption */
.cycle-caption { position: absolute; color: white; bottom: 15px; right: 15px; z-index: 700; }


/* overlay */
.cycle-overlay { 
    font-family: tahoma, arial;
    position: absolute; bottom: 0; width: 100%; z-index: 600;
    background: black; color: white; padding: 15px; opacity: .5;
}



/* prev / next links */
.cycle-prev, .cycle-next { position: absolute; top: 0; width: 30%; opacity: 0; filter: alpha(opacity=0); z-index: 800; height: 100%; cursor: pointer; }
.cycle-prev { left: 0; background: url(/wp-content/themes/oz/library/images/nav-prev.png) 50% 50% no-repeat;}
.cycle-next { right: 0; background: url(/wp-content/themes/oz/library/images/nav-next.png) 50% 50% no-repeat;}
.cycle-prev:hover, .cycle-next:hover { opacity: .7; filter: alpha(opacity=70) }

.disabled { opacity: .5; filter:alpha(opacity=50); }


/* display paused text on top of paused slideshow */
.cycle-paused:after {
    content: 'Paused'; color: white; background: black; padding: 10px;
    z-index: 500; position: absolute; top: 10px; right: 10px;
    border-radius: 10px;
    opacity: .5; filter: alpha(opacity=50);
}



/*=DRAWERS ABOUT PAGE
---------------------------*/
.accordion {
	.pink-text {
		text-align: center;
	}
   dt, dd {
      padding: 10px;
      border-bottom: 0; 
      &.land-open {
      	display: block;
      }
      &:last-of-type {
        border-bottom: 1px solid black; 
      }
      a {
        display: block;
        color: white;
        font-family: $header-font-family;
        font-size: 2em;
        font-weight: bold;
        text-transform: uppercase;
      }
   }
  dt {
 	 background: #232323;
 	 margin-bottom: 0;
 	 text-align: center;
 	 @include transition ('background', '0.3s');
 	&.title-0{
 		&:hover {
 			background: $green;
 		}
 	}
 	&.title-1{
 	background: #181818;
 		&:hover {
 			background: $blue;
 		}

 	}
 	&.title-2{
 		&:hover {
 			background: $orange;
 		}
 	}
 	&.title-3{
 	background: #181818;
 		&:hover {
 			background: $pink;
 		}
 	}
  	&.title-on {
  		background: #000;
  	}
  }
  dd {
     border-top: 0; 
  
     &:last-of-type {
       /*border-top: 1px solid white;
       position: relative;
       top: -1px;*/
     }
  }
  p {
  	/*font-size: 1.1em;
  	line-height: 1.75;*/
  }
}
.board-staff li {
list-style: none;
text-align: left;
line-height: 1.2;
margin-bottom: .5em;
}

.board-staff li strong {
color: #fff;
}

.board-staff-contain {
	li {
		list-style: none;
		font-style: italic;
		font-size: 1.1em;
	}
}
.staff .board-staff-2-contain, .staff .board-staff-4-contain {
padding-top: 3em;
}
/*= TEMP PROGRAMS PAGE
--------------------------------------*/

/* 
    media queries 
    some style overrides to make things more pleasant on mobile devices
*/

@media only screen and (max-width: 480px), only screen and (max-device-width: 480px) {
    
    /*Global*/

    .primary-nav {
    		display:none;
    }
    .burger {
			display: inline-block;
			.burger-icon{
				color: $pink;
				font-family: 'entypo';
				font-size: 3em;
				display: block;
				padding-top: .25em;
			}
	}
	.logo-contain {
			text-align: center;
	}

	.top-nav-contain.slide-up {
			top: 0;
	}



    .cycle-overlay { padding: 4px }
    .cycle-caption { bottom: 4px; right: 4px }
}






/*= START PROGRAMS V2 
----------------------------------------*/


h1.dots {
	font-family: "core_circus_2d_dot2regular";
	font-size: 3em;
}



/*=calendar view--*/



.calendar-item {
	
	&.blue {
		background: $blue;
		.cal-bkg {
			background: $blue;
		}
	}

	&.green {
		background: $green;
		.cal-bkg {
			background: $green;
		}
		
	}

	&.pink {
		background: $pink;
		img {
			display:none;
			}
		.cal-bkg {
			background: $pink;
		}
		
	}

	&.orange {
		background: $orange;
		.cal-bkg {
			background: $orange;
		}		
	}

}

.calendar-item.columns:last-child {
	float: left;
}

.calendar-item {
	border: 1px solid #000;
	opacity: 1;
	 @include transition('opacity', '0.3s');
	a {
		color: #fff;
	}
}
.calendar-item:hover {
	opacity: .5;
	.cal-item-month {
		opacity: 1;
	}
	.cal-item-day {
		opacity: 1;
	}
}
.calendar-item.columns {
	padding: 0;
}

.cal-bkg-contain {
	display: block;
	height: 0;
	overflow: hidden;
	opacity: 1;
    position: relative;
    padding-bottom: 66.77777777%;
    z-index: 2;
    img {
    	position: absolute;	
    	top: 0;
    	left: 0;
    	width: 100%;
    }

}

.cal-bkg {
	height: 100%;
	width: 100%;
	display: inline-block;
	padding-bottom: 66.77777777%;
	opacity: .5;
	position: absolute;
	top: 0;
	z-index: 2;
}



.cal-item-month {
	display: block;
	background: black;
	color: #fff;
	font-family: 'TradeGothicLTStdRegular';
	text-align: center;
	text-transform: uppercase;
	font-size: 1.5em;
	padding: .3em 0;
}

.cal-item-day {
	display: block;
	background: white;
	color: #000;
	font-family: 'TradeGothicLTStdRegular';
	text-align: center;
	font-size: 2em;
	padding: .25em 0;
}

.calendar-item h2 {
	font-family: 'TradeGothicLTStdRegular';
	position: relative;
	z-index: 3;
	padding: 1em;
	/*text-transform: uppercase;*/
	a {
		display: inline-block;
		padding: 1em;
	}
}

.icon-contain {
	display: inline-block;
	opacity: 1;
	@include transition('opacity', '0.3s');
	:hover {
		opacity: .75;
	}
}
.view-switch {
	text-align: right;
}
.nav-icon {
	width: 22px;
	margin-left: .5em;
	margin-top: .5em;
	
}

/*=CALENDAR LIST VIEW */



.accordion.calendar-list-accordion{
	background: #232323;
	text-align: left;
	dt:nth-of-type(odd){
		background: #181818;
	}
}

.accordion.calendar-list-accordion dd {
	text-align: right;
}

.accordion dd a.cal-list-info-btn {
	background: orange;
	display: inline-block;
	font-size: 1.3em;
	/*margin: 6em 2em;*/
	padding: .5em;
	position: absolute;
	bottom: 20px;
	right: 20px;
}

.date-contain {
	width: 100px;
	float: right;
}
.cal-list-info {
	height: 14em;
	position: relative;
}
.cal-list-month {
	display: block;
	background: #fff;
	font-family: 'TradeGothicLTStdRegular';
	text-align: center;
	color: #000;
	text-transform: uppercase;
	padding: .75em 0;
}
.cal-list-day {
	display: block;
	background: #000;
	text-align: center;
	color: #fff;
	padding: .25em 0;
}




.accordion.calendar-list-accordion dt {
	&.blue:hover {
		background: $blue;
	}
	&.green:hover {
		background: $blue;
	}
	&.orange:hover {
		background: $orange;
	}
	&.pink:hover {
		background: $pink;
	}
}

.accordion.calendar-list-accordion dt a, .accordion.calendar-list-accordion dd a {
	text-transform: none;
}

.pro-top {
	position: relative;
}
.pro-more-info-contain {
display: block;
position: fixed;
bottom: 0;
z-index: 99;
text-align: center;
width: 100%;
	button.green-btn {
		display:inline-block;
		margin-bottom: 0;
		/*width: auto;*/
	}
}



.prog-content-contain {
	height: 500px;
	
	position: relative;
	overflow: hidden;
	h1, h2, h3, h4 {
		font-family: "TradeGothicLTStdRegular", sans-serif;
	}
}
.prog-content-contain .read-more { 
	background: none;
	position: absolute;
	box-shadow: none;
	color: #fff;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	bottom: 0;
	border: none;
	border-color: none;
	border-top: none;
	left: 0;
	width: 100%;
	text-align: left;
	margin: 0;
	padding: 300px 0 0;
	text-transform: uppercase;
	
	/* "transparent" only works here because == rgba(0,0,0,0) */ 
	background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, transparent),color-stop(1, black));
        background-image: -webkit-linear-gradient(top, transparent, black);
        background-image: -moz-linear-gradient(top, transparent, black);
        background-image: -ms-linear-gradient(top, transparent, black);
        background-image: -o-linear-gradient(top, transparent, black);
        

}


.prog-info-contain {
	
	h2 {
		font-family: 'TradeGothicLTStdRegular';
		font-size: 1.6em;
	}
	h3 {
		font-family: 'TradeGothicLTStdRegular';
		font-size: 2em;
		
	}
	h4 {
		font-family: 'TradeGothicLTStdRegular';
		font-size: 1.4em;
		
	}
}

button {
	opacity: 1;
	@include transition('opacity', '0.3s');
	&:hover {
		opacity: .75;
	}
}

button.green-btn {
	background: $green;
	border: none;
	width: 100%;
}
button.blue-btn {
	background: $blue;
	border: none;
	width: 100%;
}
button.orange-btn {
	background: $orange;
	border: none;
	width: 100%;
}
button.pink-btn {
	background: $pink;
	border: none;
	width: 100%;
}


.buy-tix-btn {
	margin-top: 4em;
	text-transform: uppercase;
}
.buy-ticket-contain {
	display: none;
}

.back-btn {
	color: $green;
	display: block;
	font-size: .85em;
	padding: 25px 0 15px;
	opacity: 1;
	&:hover {
		opacity: .75;
	}
}

#main .rsTmb {
	display: none;
}

.share-icon-contain {
	border-top: 1px solid #242424;
	padding: 2em 0;
	margin-top: 2em;
	width: 100%;
}


#wpadminbar {
	z-index: 99999999;
}





/*=Patronage Page */

.page-template-page-patronage-tpl-php {


	
}
.row.call-out-row.lt-green {
	background: url(/wp-content/themes/oz/library/images/green-callout-bkg.png);
	width: 960px;
	height: 471px;
	margin: 0 auto 60px auto;
	padding: 3em;

	p {
		color: #000;
		margin-top: 1.2em;
		line-height: 1.4;
		font-size: 1.1em;
	}
	li {
		color: #000;
		margin-bottom: 20px;
		margin-left: 20px;
		line-height: 1.3;
		font-size: 1.1em;

	}

}

.support-trigger {
	margin-top: 60px;
}
.volunteer-trigger {
	margin-top: 30px;
}

#support-buy {
	display: none;
}

.row .insight-contain {
	background: #171717;
	margin-top: 60px;
	padding-top: 2em;
	padding-bottom: 2em;
}

#mc-embedded-subscribe {
	background: $green;
}
#mc_embed_signup {
	display: none;
}

/*= Royal Slider Styles */

.rsSBlock {
	h2, h3 {
		font-family: 'TradeGothicLTStdRegular';
	}
	h2 {
		text-transform: uppercase;
		font-size: 2.3em;
		font-weight: bold;
		margin: 0;
	}
	h3 {
		text-transform: uppercase;
		font-size: 1.7em;
		margin:0
	}
	h4 {
		margin-top: .25em;
		font-size: 3.5em;
	}
	&.black_txt_block {
		h2, h3, h4, h5 {
			color: #000000;
		}
	}
}
@media all and (max-width:778px) {
		.burger {
			display: block;
			.burger-icon {
				position: absolute;
				top: 10px;
				left: 15px;
			}
		}
		.primary-nav {
			display: none;
		}
		.logo-contain {
			text-align: center;
		}
}

@media all and (max-width:1024px) {
	.ven-path {
		display: none;
	}

	.page-template-page-venue-tpl-php {
		.column, .columns {
			position: relative;
			padding-left: 0.9375em;
			padding-right: 0.9375em;
			float: left;
			width: 100%;
		}
		.large-1, .large-2, .large-3, .large-4, .large-5, .large-6, .large-7, .large-8, .large-9, .large-10, .large-11, .large-12 {
			width: 100%;
		}

	}
}

@media all and (min-width:780px) and (max-width:1200px) {
	.cal-item-title {
		font-size: 1.3em;
	}
}


/*	.page-template-page-venue-tpl-php {
		.column, .columns {
			position: relative;
			padding-left: 0.9375em;
			padding-right: 0.9375em;
			float: left;
			width: 100%;
		}
		.large-1, .large-2, .large-3, .large-4, .large-5, .large-6, .large-7, .large-8, .large-9, .large-10, .large-11, .large-12 {
			width: 100%;
		}
	}

.row .large-2 {
	width: 100% !important;
}
*/




